
.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  width: 500px;
  border-radius: 1rem;
  padding: 15px;
  color: black;
}
.button {
  padding: 10px;
  width: 100px;
  background-color: rgb(0, 2, 1);
  border-radius: 1rem;
  color: white;
}
.button:Hover {
  cursor: pointer;
}
.results {
  background: var(--chakra-colors-white-alpha-400);
  row-gap: 20px;
  width: 500px;
  border-radius: 1rem;
  padding: 20px;
  max-height: 350px;
  overflow-y: scroll;
}
.item {
  padding: 8px;
}
.results::-webkit-scrollbar {
  display: none;
}
